body{
    background-image: linear-gradient(yellow,lightblue,purple);
    background-repeat: no-repeat;
    height: 1000px;
    overflow-y: hidden;
}

.mtavari{
    background-color: #1a1b26;
    margin: auto;
    width: 35%;
    height: 500px;
}


.input{
    background-color: #5f617e;
    margin-top: 30px;
    color: #be2926;
    font-size: 30px;
    width: 200px;
    height: 25px;
    border-radius: 10px;
}



.inputm{
    position: relative;
    top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9ece5f;
    margin: auto;
    width: 50%;
}

.button{
    margin-top: 20px;
    border-radius: 20px;
    height: 30px;
    background-color: aqua;
    margin-top: 200px;
}



